name: Preprocessing Workflow

on:
  push:
    branches: [ main ]

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn

    - name: Run preprocessing script
      run: |
        python preprocessing/automate_Nasywa_Nisrina.py

    - name: Upload processed data
      uses: actions/upload-artifact@v4
      with:
        name: preprocessed-dataset
        path: preprocessing/credit_card_preprocessing.csv
